<h3>Profile Page</h3>
<div class="row text-center mt-4">
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-4 bg-white rounded">
        <div class="card-body">
          <img src="https://lh3.googleusercontent.com/a/ACg8ocIkb2delp5F-1cDAWK8Zw0XCbW6T2lluRmIyR-0b-DqKxe8Dhw=s288-c-no" class="card-img-top rounded-circle mx-auto d-block" 
          alt="Kian Relijoe B." style="width: 150px; height: 150px; object-fit: cover;">
     
          <h3 class="card-title">Erece, Kian Relijoe B.</h3>
          <p class="card-text">Developer and Designer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-4 bg-white rounded">
        <div class="card-body">
          <img src="https://avatars.githubusercontent.com/u/98321433?v=4" class="card-img-top rounded-circle mx-auto d-block" 
          alt="Kian Relijoe B." style="width: 150px; height: 150px; object-fit: cover;">
          <h3 class="card-title">Jayzer Ray Wanawan</h3>
          <p class="card-text">Developer and Designer.</p>
        </div>
      </div>
    </div>
  </div>

<p>This is the profile of the developers/p>
