<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="https://toppng.com/uploads/preview/don-t-know-troll-face-11549870278jhwyyirjfa.png" alt="Logo" width="40" height="40" class="me-2 rounded-circle">
      EWAN Co.
    </a> <!-- Home link -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
      </ul>
    </div>
  </div>
 
</nav>
<h5>Angular Child Routes Example</h5>
<nav>
<a routerLink="about" routerLinkActive="active">Parent</a> |
<a routerLink="about/child-1" routerLinkActive="active">Child One</a> |
<a routerLink="about/child-2" routerLinkActive="active">Child Two</a>
</nav>
<hr/>

<router-outlet></router-outlet>